@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome to Cloud Architect Program</h3>
    <p>We will cover up a lot of stuff in upcoming lessons.</p>
</div>
